---
import '@fontsource/jost';
import '@fontsource/noto-sans-sc';
import '@fontsource/noto-serif-sc';
import { ClientRouter } from 'astro:transitions';

import '@/global.css';
import '@/styles.css';
import logo from '@images/logo.webp';

interface Props {
    description: string;
    title: string;
}

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const { description, title } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>{title}</title>
        <meta content={description} name="description" />
        <meta content="жѓ жіЅеЃҐеє·" name="author" />
        <meta content="#0A3A33" name="theme-color" />
        <link href={canonicalUrl} rel="canonical" />
        <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
        <link href="/favicon.ico" rel="icon" type="image/x-icon" />
        <meta content={title} property="og:title" />
        <meta content={description} property="og:description" />
        <meta content={`${Astro.site}og.png`} property="og:image" />
        <meta content={canonicalUrl} property="og:url" />
        <meta content="жѓ жіЅеЃҐеє·" property="og:site_name" />
        <meta content="website" property="og:type" />
        <meta content="summary_large_image" name="twitter:card" />
        <meta content={title} name="twitter:title" />
        <meta content={description} name="twitter:description" />
        <meta content={`${Astro.site}og.png`} name="twitter:image" />
        <script
            is:inline
            set:html={JSON.stringify({
                '@context': 'https://schema.org',
                '@type': 'Organization',
                'logo': new URL(logo.src, Astro.site),
                'name': 'жѓ жіЅеЃҐеє·',
                'url': Astro.site,
            })}
            type="application/ld+json"
        />
        <script
            is:inline
            set:html={JSON.stringify({
                '@context': 'https://schema.org',
                '@type': 'WebSite',
                'name': 'жѓ жіЅеЃҐеє·',
                'url': Astro.site,
            })}
            type="application/ld+json"
        />
        <ClientRouter />
    </head>
    <body class="flex min-h-screen flex-col bg-cloud font-sans text-slate">
        <slot />
    </body>
</html>
